header {
    background: #2490df;
    color: #FFF;
    position: relative;
    .title {
        text-align: center;
        h1 {
            margin: 0;
            padding: 10px 0;
        }
        h3 {
            padding-bottom: 10px;
        }
    }
    .navTrigger {
        
    }
}
