header {
    background: transparent;
    color: #FFF;
    position: relative;
    text-align: center;
    padding: 20px 0;
    .logo {
        background: url('../images/logo.png') 0 0 no-repeat;
        width: 250px;
        height:112px;
        display: inline-block;
    }
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
    header .logo {
        background: url('../images/logo_2X.png') 0 0 no-repeat;
        background-size: 250px 112px;
    }

}
