nav {
    position: relative;
    z-index: 1;
    ul {
        padding: 0;
        margin: 0;
        a {
            color: #FFF;
            padding: 10px 15px;
            display: block;
            list-style: none;
            &:hover {
                background: lighten(#666,10%);
                text-decoration: none;
                color: #2490df;
                cursor: pointer;
            }
        }
    }
    .navTrigger {
        position: absolute;
        top: 5px;
        left: 268px;
        background: none;
        border: 0px solid;
        outline: 0;
        i {
            font-size: 25px;
            color:#FFF;
        }
    }

    .navRoot > div {
        overflow: visible !important;
    }

}
