nav {
    position: relative;
    z-index: 1;
    ul {
        padding: 0;
        margin: 0;
        a {
            color: #FFF;
            padding: 10px 15px;
            display: block;
            list-style: none;
            &:hover {
                background: lighten(#666,10%);
                text-decoration: none;
                color: #2490df;
                cursor: pointer;
            }
        }
    }
    .navTrigger {
        background: $brand1;
        position: absolute;
        top: 0px;
        left: 266px;
        border: 0px solid;
        outline: 0;
        padding: 7px 12px;
        i {
            font-size: 25px;
            color:#FFF;
        }
    }

    .navRoot > div {
        overflow: visible !important;
    }

    .menuUserTile {
        text-align: center;
        div {
            line-height: 23px;
        }

    }

}
