.weightTimeline {
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    .verDivider {
        position: absolute;
        top: 0px;
        left: 30%;
        background: #F5F5F5;
        width: 2px;
        height: 1000px;
        z-index: 1;
    }

    .wtInner {
        overflow: auto;
        position: relative;
        padding: 20px;
        max-height: 600px;
        color: #383838;
        .weightRow {
            border: 1px solid #e3e3e3;
            padding: 10px;
            height: 80px;
            overflow: hidden;
            margin: 0 -20px;
            margin-bottom: 5px;
            position: relative;
            .rowCircle {
                background: #F5F5F5;
                width: 14px;
                height: 14px;
                position: absolute;
                top: 50%;
                left: 30%;
                margin-left: -14px;
                margin-top: -6px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                z-index: 2;
            }
            .rowBorder {
                position: absolute;
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background: #CDDC39;
            }
            .wtLeft {
                width: 28%;
                float: left;
                padding-top: 10px;
                padding-left: 5px;
                .wtDate1 {
                    font-weight: 600;
                }
            }
            .wtRight {
                width: 68%;
                float: right;
                padding-top: 10px;
                padding-left: 5px;
                .wtWeight {
                    font-weight: 600;
                    float: left;
                    line-height: 40px;
                    font-size: 25px;
                }
                .wtBMI {
                    float: right;
                    line-height: 40px;
                }
            }
        }
    }
}

.wtSymbol {
    display: inline-block;
    margin-right: 15px;
    &.equal {
        color: #2490df;
        font-size: 40px;
    }
    .fa-chevron-up {
        color: #c62828
    }
    .fa-chevron-down {
        color: #64DD17;
    }
}
