body {
    background: #F4F4F4;
    .contentContainer {
        padding: 20px;
    }
}

.noWeight {
    .contentContainer .card {
        display: none;
    }

    .chartComponent.card {
        display: block;
        text-align: center;
        .cardTitle {
            display: none;
        }
        .noWeightAlert {
            padding: 50px 20px;
            .introText {
                margin: 20px;
            }
        }
    }
}
