body {
    background: #F4F4F4;
    .contentContainer {
        padding: 20px;
        position: relative;
        z-index: 0;
    }
}

.noWeight {
    .contentContainer .card {
        display: none;
    }

    .chartComponent.card {
        display: block;
        text-align: center;
        .cardTitle {
            display: none;
        }
        .noWeightAlert {
            padding: 50px 20px;
            .introText {
                margin: 20px;
            }
        }
    }
}

button {
    .fa {
        color: #FFF;
    }
}
